.logo {
    margin-left: 5rem;
    width: 40rem;
}

jt{
font-style: italic;
}

.chinese {
    margin-left: 5rem;
    width: 20rem;
    cursor: pointer;
}

.btnHeader {
    color: grey;
   height:max-content;
   border:none;
   background: none;
   cursor:pointer;
   padding-right: 20px;
   padding-left: 10px;
   text-decoration: none;
}
.btnHeader1 {
    color: gray;
    height:max-content;
    border:none;
    background: none;
    cursor:pointer;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
 }

 .Or{
    padding-left: 20px;
    padding-right: 20px;
 }

.header_container {
    display: flex;
    width: 100;
    flex-direction: column;
    justify-content: space-between;
}

.header_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}

.header_contact {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    width:auto;
}



