.logo {
    margin-left: 5rem;
    width: 40rem;
}

.userIcon {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    font-size: 1.5vw;
    align-items: center;
    width: max-content;
}

#userPic {
    display: block;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    padding-right: 5px;
}

.Or {
    padding-left: 1px;
    padding-right: 1px;
    width: max-content;
}

.chinese {
    width: max-content;
    margin-right: 5rem;
    cursor: pointer;
}

.btnHeader {
    color: grey;
    height: max-content;
    border: none;
    background: none;
    cursor: pointer;
    padding-right: 20px;
    padding-left: 10px;
    text-decoration: none;
}

.btnHeader1 {
    color: gray;
    height: max-content;
    border: none;
    background: none;
    cursor: pointer;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
}


.header_container {
    display: flex;
    width: 100;
    flex-direction: column;
    justify-content: space-between;
}

.header_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
}