@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,700);
body{
    margin:0px;
    height:auto;
    background-color: white;

   
}

.mainBody{
    display:flex;
    justify-content: center;
}

.login_container {
  Display:flex;
  justify-content: center;
  width: 800px;
  margin:40px;
  border-radius: 20px;
  border:1px solid black;
  background-color:white;
  height:auto;
  padding:40px;
  box-sizing: border-box;

}

.submitButton {
    cursor: pointer;
    margin-top: 20px;
    width: 310px;
    height: 50px;
    font-size: 20px;
    border:none;
    background-color:rgb(223, 221, 221);
    border-radius: 2px;
    color: rgba(45, 118, 184, 1);
    font-weight: bold;
    letter-spacing: 3px;
    border-radius: 25px;
    margin-left: 300px;
    box-shadow: 5px 10px 8px #888888;
  
    transition: background-color .4s ease-out;
  }
  .submitButton:hover {
    background-color: rgba(45, 118, 184, 1);
    color:white;
  }

  input[type=text],.email, input[type=password], .password {
    width: 100%;
    padding: 15px;
    margin: 20px 0 22px 0;
    display: inline-block;
    border :none;
    background: #f1f1f1;
    border-radius: 25px;
    box-shadow: 5px 10px 8px #888888;
  }
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }


